/* COMMON */
.body__container {
    font-size: 16px;
    font-weight: 400;
    color :#333;
    font-family: 'Bebas Neue', cursive;
}
a {
    text-decoration: none;
}

/* SECTION & INNER */
.section {
    position : relative;
}
.section .inner {
    max-width: 90%;
    margin : 0 auto;
    position: relative;
    box-sizing: border-box;
}

/* HEADER  */
header {
    border-bottom:  1px solid rgba(255, 141, 173, 0.834);
    background : #fff;
    box-shadow: 0 0 5px rgba(8, 8, 8, 0);
    
    /* position : fixed;
    left : 0;
    top : 0;
    right: 0; */
}
header .inner {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* HEADER */
header .logo {

}
.section .inner .logo a {
    display : block;
    font-size : 24px;
    color :#333;
    padding : 20px 20px 20px 0;
    box-sizing: border-box;
}
.section .inner .logo a:hover {
    color:rgba(255, 141, 173, 0.834);
}
.section .main-menu {
    display : flex;
}
.section .inner .list-item {
    margin-right : 20px;
}
.section .inner .list-item a {
    padding : 20px;
    color : #333;
    font-size : 20px;
    font-weight: 600;
    box-sizing: border-box;
}
.section .inner .list-item a:hover {
    color :rgba(255, 141, 173, 0.834)
}

/* MAIN */
main .inner {
    display : flex;
}


/* MAIN LEFT-MENU */
main .left--list {
    border-right : rgba(8, 8, 8, 0);
    /* width: 30%;
    height: 100vh; */
    flex-basis: 20%;
    
}
main .left--list ul {
    padding : 10% 30% 30% 0;
    box-sizing: border-box;
    margin-top :15%;
    display :flex;
    flex-direction: column;
    
}
main .left--list .left--menu .list-item{
    margin : 10% 10% 0 0;
    box-sizing: border-box;
    margin-bottom: 50px;


}
main .left--list .left--menu .list-item:first-child {
    margin-top : 20%;
}
main .left--list .left--menu .list-item a{
    padding-left : 0;
    box-sizing: border-box;
    font-size : 25px;
}
main .left--list .left--menu .list-item a:hover {
    color: rgba(255, 141, 173, 0.834);
}

/* MAIN CENTER */
main .center--main{
    flex-basis: 57%;
}




/* MAIN RIGHT-MENU */
main .right--list {
    border-right : rgba(8, 8, 8, 0);
    /* width: 30%;
    height: 100vh; */
    flex-basis: 20%;
    position: relative;
}
main .right--list ul {
    /* padding : 10% 30% 30% 0; */
    box-sizing: border-box;
    margin-top :35%;
    display :flex;
    flex-direction: column;
    position : absolute;
    right : 0;
}
main .right--list .right--menu .list-item{
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-right: 0;
}
main .right--list .right--menu .list-item:first-child {
    /* margin-top : 20%; */
}
main .right--list .right--menu .list-item a{
    padding-right : 0;
    box-sizing: border-box;
    font-size: 25px;
}
main .right--list .right--menu .list-item a:hover {
    color: rgba(255, 141, 173, 0.834);
}
